@using System.Web.UI.WebControls
@model Tholumuntu.Models.UserProfileModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}
<script src="../../Scripts/jquery.min.js"></script>
<style type="text/css">
    .table-padding-left {
        margin-left: 20px;
        margin-top: -5px;
    }
</style>

<div class="row profile">
    <div class="col-md-12">
        <div class="profile-content">
            <br />
            <h2 class="mb-4">Profile Setup</h2>
            <div class="container-fluid">
                <div class="row my-2" style="margin-left: 70px">
                    <div class="col-lg-8 order-lg-2">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="" data-target="#edit" data-toggle="tab" class="nav-link active">Details</a>
                            </li>
                            <li class="nav-item">
                                <a href="" data-target="#personal_quiz" data-toggle="tab" class="nav-link">Personal quiz</a>
                            </li>
                            <li class="nav-item">
                                <a href="" data-target="#nameReports" data-toggle="tab" hidden="hidden" class="nav-link">Name report</a>
                            </li>
                            <li class="nav-item">
                                <a href="" data-target="#horoscope" data-toggle="tab" class="nav-link">Horoscope</a>
                            </li>
                            <li class="nav-item">
                                <a href="" data-target="#loveLanguage" data-toggle="tab" class="nav-link">Love language</a>
                            </li>
                        </ul>
                        <br />
                        <div class="tab-content py-4">
                            <div class="tab-pane active" id="edit">
                                <form role="form">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="@Model.User.Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="@Model.User.Surname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="email" value="@Model.User.Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Contact number</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="@Model.User.ContactNumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Gender</label>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Female</label><br />
                                                <input class="radio-inline" type="radio" name="gender" value="Female">

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Male</label><br />
                                            <input class="radio-inline" type="radio" name="gender" value="Male">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="" placeholder="Street">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-3">
                                            <input class="form-control" type="text" value="" placeholder="City">
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control" type="text" value="" placeholder="State">
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control" type="text" value="" placeholder="Postal Code">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                           <input type="button" id="update-profile" class="btn btn-primary" value="Save Changes">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="personal_quiz">
                                @Html.HiddenFor(m => m.User.Id, new {@id="userId"})
                                <form id="profile_traits" role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h2 class="mb-4">Quiz</h2>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="attraction" class="form-control" value="" placeholder="What do you find most attractive in a partner?"/>
                                            </div>
                                            <div class="form-group">
                                               
                                                <input type="text" id="words" class="form-control" value="" placeholder="Three words that describes you best?"/>
                                            </div>
                                            <div class="form-group">
                                                <select name="choice" id="choice" class="custom-select">
                                                    <option value="0">If you could choose between the following, what would you choose...</option>
                                                    <option value="1">Money</option>
                                                    <option value="2">Love</option>
                                                    <option value="3">Happiness</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                           <input type="button" id="update-profile-quiz" class="btn btn-primary" value="Save Changes">
                                        </div>
                                    </div>
                                    <!--/row-->
                                </form>
                            </div>
                            <div class="tab-pane" id="nameReports" hidden="hidden">
                                <div class="form-group">
                                    <h2 class="mb-4">Name Reports</h2>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Cancel">
                                        <input type="button" id="update-profile-name" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="horoscope">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <h2 class="mb-4">Horoscope</h2>
                                        </div>
                                        <div class="form-group">
                                            <select name="horoscope" id="drpHoroscope" class="custom-select">
                                                <option value="0">Select...</option>
                                                <option value="1">Aries</option>
                                                <option value="2">Aquarius</option>
                                                <option value="3">Cancer</option>
                                                <option value="4">Leo</option>
                                                <option value="5">Libra</option>
                                                <option value="6">Gemini</option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label"></label>
                                            <div class="col-lg-9">
                                               <input type="button" id="update-profile-horoscope" class="btn btn-primary" value="Save Changes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="tab-pane" id="loveLanguage">
                                <div class="form-group">
                                    <label for="love_language">
                                        Please choose your love Language or click <a href="https://www.5lovelanguages.com/quizzes/" target="_blank">Here</a> to find yours
                                    </label>
                                    <select id="love_language" name="love_language" class="form-control" style="height: 50px">
                                        <option value="na" selected="">Choose One:</option>
                                        <option value="Words_of_Affirmation">Words of Affirmation</option>
                                        <option value="Acts_of_Service">Acts of Service</option>
                                        <option value="Receiving_Gifts">Receiving Gifts</option>
                                        <option value="Quality_Time">Quality Time</option>
                                        <option value="Physical_Touch">Physical Touch</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                       <input type="button" id="update-profile-love" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-4 order-lg-1 text-center">
                            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                            <h6 class="mt-2">Upload a different photo</h6>
                            <label class="custom-file">
                                <input type="file" id="file" class="custom-file-input">
                                <span class="custom-file-control">Choose file</span>
                            </label>
                        </div>*@
                </div>
            </div>

        </div>
    </div>


</div>


